<!DOCTYPE html>
<html>
<head>
    {{>header_links}}
</head>
<body>
  {{> header}}

<!-- Main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 main_header_right">
                        <figure>
                            <img src="image/Shadow_developer.jpg" class="shadow_image" alt="Shadow Developer">
                        </figure>
                    </div>

                    <div class="col-md-6 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text-color">Shopify backend and Node Js Developer</span> And a Freelancer.</h1>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   {{> footer}}
    
</body>
</html>